# Required for resolving my_library imports
PYTHONPATH=.

# Specify GPU IDs to use; set to 'all' to enable all available GPUs
NVIDIA_VISIBLE_DEVICES=all

# Set to True to use GPU, or False to use CPU
USE_GPU=False

# Logging level: DEBUG, INFO, WARNING, ERROR, etc.
LOG_LEVEL=INFO

# If True, log output will also be saved to a file
SAVE_LOG_TO_FILE=False

# If True, enables execution time measurement with timeit decorator
ENABLE_TIMEIT=True
