# Environment and cache
*.env
.venv/
kaggle-venv/
*.egg-info/
*.ipynb_checkpoints/

# Cache
.pytest_cache/
.ruff_cache/

# CatBoost
catboost_info/

# Data
*.csv
*.parquet
*.json
*.xlsx
my_library.data/*
!my_library/data/samples/**/*.csv
!my_library/data/samples/*.csv
my_library.output/*

# Docker
build.log

# Git
.git

# OS & editor files
.DS_Store
.vscode/

# Projects & Outputs
logs/*
*.pkl
projects/my_projects/*
projects/others/*

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
